{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
 <style>
  


.image-container{
  width: 96%;
  height: auto;
  /* top: 50px; */
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
}

.image-container span {
  width: 100%;
  height: 100%;
  display: flex;
  /* background-color: brown; */
  align-items: center;
  /* justify-content: space-evenly; */
}

.image-container span article{
  width: 350px;
  height: 200px;
}
.image-container span article label{
  margin-bottom: 0.2rem;
}
.image-container span article img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

</style>
  
  <div class="col-12 card my-4 image-container  mx-3 ">
      <span>
        <label for="account" class="form-label">Payee Name :</label>

        <article>
          <img src="/vision{{ cheque_details.payee_img.url}}" alt="{{ cheque_details.bank_name}}" style="width:100; height:100%;"/>

        </article>
        <label for="account">IFSC :</label>
        <article>
            
          <img src="/vision{{ cheque_details.ifsc_img.url}}" alt="{{ cheque_details.bank_name}}" />

        </article>

    </span>

    <span>
      <label for="account">Amount :</label>
        <article>
            

          <img src="/vision{{ cheque_details.amount_img.url}}" alt="{{ cheque_details.bank_name}}" />

        </article>

        <label for="account">micr :</label>
        <article>
            

          <img src="/vision{{ cheque_details.micr_img.url}}" alt="{{ cheque_details.bank_name}}" />

        </article>
    </span>

    <span>
      <label for="account">Signature :</label>
      <article>
         

        <img src="/vision{{ cheque_details.signature.url}}" alt="{{ cheque_details.bank_name}}"  />  

      </article>
      
  </span>
    </div>
  


  {% comment %}
  
    {% endcomment %}

  <form action="{%url 'done' %}" id="form" method="post"  enctype="multipart/form-data">
    {% csrf_token %}

    <div>
    {% crispy form%}
    {% comment %} {{form|crispy}} {% endcomment %}

    </div>

    <button type="submit">Done</button>
  </form>

{% endblock %}


          
          
      
    
