{% extends 'vision/base.html' %}

{% block content %}

  {% block content_header %}
    <h2>Cheques</h2>
    <p>
      <a href="{% url 'cheque_upload' %}" class="btn btn-primary">Upload cheque</a>
    </p>
  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Title</th>
        <th>Bank</th>
        <th>path</th>
        
      </tr>
    </thead>
    <tbody>
      {% for cheque in cheques %}
        <tr>
          <td>{{cheque.title}}</td>
          <td>{{ cheque.bank }}</td>
          <td>{{ cheque.cheque_image.url }}</td>
          <td>
            {% if cheque.cheque_image %}
              <img src="{{ cheque.cheque_image.url}}" alt="{{ cheque.title}}" style="width:100px;">

            {% else %}
              <span class="text-muted">No Image</span>
            {% endif %}
          </td>




          
          {% comment %} <td>
            <a href="{{ cheque.cheque_image.url }}" class="btn btn-primary btn-sm" target="_blank">
              Download PDF
            </a> {% endcomment %}
          </td>
          {% comment %} <td>
            <form method="post" action="{% url 'delete_cheque' cheque.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td> {% endcomment %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}